<head>
    <meta charset="UTF-8">
    <title>Stock Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
</head>
<body>
    <h1><i class="fas fa-chart-line"></i> Stock Page</h1>
    <form id="stockForm" action="/stocks" method="POST">
        <label for="stockSearchInput">Stock Symbol:</label>
        <input type="text" id="stockSearchInput" name="stockSearchInput" placeholder="Enter stock symbol" required>
        <br>
        <label for="timeIntervalSelect">Time Interval:</label>
        <select id="timeIntervalSelect" name="timeIntervalSelect">
            <option value="1h">Hourly</option>
            <option value="1day">Daily</option>
            <option value="1week">Weekly</option>
            <option value="1month">Monthly</option>
        </select>
        <br>
        <button type="submit">Search</button>
    </form>
    <div id="graphContainer">
        <label id="messageContainer" for=""></label>
        <canvas id="stockChart"></canvas>
    </div>

    <script>
        $(document).ready(function () {
            var chartElement = document.getElementById('stockChart').getContext('2d');
            var stockChart = null;

            $('#stockForm').submit(function (event) {
                event.preventDefault(); // Prevent form submission
                var stockSymbol = $('#stockSearchInput').val();
                var timeInterval = $('#timeIntervalSelect').val();

                // Make Ajax request
                $.ajax({
                    type: 'POST',
                    url: '/stocks',
                    data: {
                        stockSearchInput: stockSymbol,
                        timeIntervalSelect: timeInterval,
                    },
                    success: function (response) {
                        if (response.status === 'ok') {

                            var companyName = response.meta.symbol;
                            $('#messageContainer').html('Stock graph of: ' + companyName);

                            var stockData = response.values;
                            var dates = stockData.map(item => item.datetime).reverse();
                            var prices = stockData.map(item => parseFloat(item.close)).reverse();
                            renderGraph(stockChart, dates, prices);
                        } else {
                            // Display an error message
                            var errorAlert = '<div class="alert alert-danger">symbol ' + stockSymbol + ' not found.</div>';
                            $('#messageContainer').html(errorAlert);
                        }
                    },
                    error: function (error) {
                        var errorAlert = '<div class="alert alert-danger">' + response.message + '</div>';
                        $('#messageContainer').html(errorAlert);
                    }
                });
            });

            function renderGraph(chart, dates, closePrices) {
                if (chart === null) {
                    chart = new Chart(chartElement, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Stock Prices',
                                data: closePrices,
                                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                                borderColor: 'rgba(5, 123, 255, 1)',
                                borderWidth: 1
                            }]
                        },
                    });
                } else {
                    chart.data.labels = dates;
                    chart.data.datasets[0].data = closePrices;
                    chart.update();
                }
            }
        });
    </script>
</body>